 /* Universal selector: applies to all elements */
* {
  font-family: Open Sans, Helvetica, sans-serif;
  text-align: center;
  color: White;
  animation: fadein .5s;
}

/* No idea what this does but it's definitely
necessary. */
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Selectors beginning with '#' apply to ID's
of that particular name. */

#resolvedState {
  display: none;
}

#throbber {
  display: none;
  /* 1vh is equal to one percent of the
  viewport's (screen's) height. */
  margin-top: 40vh;
  transform: scale(.3, .3);
}

#paper {
  margin-right: -150px;
  margin-left: -150px;
}

/* 'Plain' selectors apply to elements
with that particular tag name. */

body {
  background-color: DarkSlateGray;

  /* This part removes default padding/margins, just
  like in the template .html file, I just moved it
  here with all the other .css */
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30vh;
  margin-bottom: -30px;
  font-size: 48px;
}

input {
  opacity: 1;
  transform: scale(.3, .3);
  transition: opacity .25s, transform .25s;
}

/* The ':hover' selector applies only to the
element in question when it is hovered
over with the cursor. */

input:hover {
  opacity: .75;
  transform: scale(.33, .33);
}

#retryButton {
  font-size: 32;
  margin-bottom: -30px;
  transition: color .25s;
}

#retryButton:hover {
  color: SlateGray;
  cursor: pointer;
}

img {
  transform: scale(.5, .5);
}
